* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #223;
  color: #cce;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 500px;
  border-radius: 10px;
}

ul,
ol {
  list-style-position: inside;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar li {
  list-style: none;
}

.navbar li a:hover {
  background-color: #334;
}

.navbar li a {
  color: #cce;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

h1,
h2,
h3 {
  margin-block: 1rem;
  text-align: center;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
  text-align: left;
}

.main {
  max-width: 800px;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
